* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 139, 168);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**********************************
            CONTAINER
**********************************/
.container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  border: 1px solid white;
  text-align: center;
}

.container img {
  margin: 20px 0;
}

.container .instruction {
  padding: 0 10px;
}

.container h2 {
  margin: 15px 0;
}

.large-red-button {
  background-color: red;
  padding: 10px 35px;
}

.container .clicks {
  margin: 15px 0;
}

.container .clicks a {
  text-decoration: none;
  color: black;
}
/* FINISH WITH PADDING UNDER PICTURE */